//common.scss

//TODO confirm max-width on other page
.container > div {
  max-width: 1024px;
  margin: 0 auto;
}

.content-headline {
  display: block;
  max-width: 585px;
  &__title {
    //TODO font-family, color change to variable
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #725a58;
    position: relative;
  }
  &__border {
    display: block;
    border-bottom: 1px solid #e3b6b1;
    margin: 0 auto;
    width: 200px;
  }
  &__subtitle {
    color: #191919;
    font-size: 18px;
    line-height: 27px;
  }
}
