//footer.scss

.footer {
  background: $light-white;
  color: $bold-main-color;
  &__subtitle {
    color: $dark-black;
    font-size: 14px;
    font-weight: 300;
  }
  &__sns {
    justify-content: center;
    gap: 10px;
  }
  &__copyright {
    font-family: $font-text;
    font-size: 14px;
  }
}

.footer-nav {
  text-align: center;
  border-top: 0.5px solid $dark-black;
  border-bottom: 0.5px solid $dark-black;
  &__list {
    max-width: 1064px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    font-family: $font-title;
    font-size: 20px;
  }
  &__item {
    &.active {
      text-decoration: underline;
      text-decoration-color: $bold-main-color;
      text-decoration-thickness: 0.5px;
      text-underline-offset: 3px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .footer-nav {
    &__list {
      display: block;
      column-count: 2;
    }
  }
}
