//header.scss
@import "../../scss/partials/variables";
$light-white: #f8f6f4;

$logo-large: 132px;
$logo-small: 40px;
$padding-large: 32px;
$padding-small: 20px;
$header-height-large: $logo-large + $padding-large * 2;
$header-height-small: $logo-small + $padding-small * 2;
$transition-speed: 0.5s;
$text-color: #a97a6e;


main {
  transition: padding $transition-speed ease, transform $transition-speed ease;
  padding-top: $header-height-large;
  background-color: #fbe8e3;  
  text-align: center;

  &.is-nav-small {
    padding-top: $header-height-small;
    background-color: rgb(10, 39, 39);  }


}

.header {
  background:$light-white;
  color: $bold-main-color;
  font-family: $font-title;
  font-size: 20px;
}

.header-nav {
  position: fixed;
  right: 0;
  left: 0;
  transition: padding $transition-speed ease, transform $transition-speed ease;
  padding: $padding-large 0;
  background: $light-white;
  .header-nav__logo {
    width: 150px;
    text-align: center;
    img {
      height: $logo-large;
    }
  }
  &.is-nav-small {
    padding: $padding-small 0;
    .header-nav__logo img {
      height: $logo-small;
    }
  }
  &__list {
    flex-grow: 1;
    justify-content: space-around;
  }
  &__item {
    flex-grow: 1;
    text-align: center;
    &:nth-child(n + 2) {
      border-left: 0.5px solid $accent-color;
    }
    &.active {
      text-decoration: underline;
      text-decoration-color: $bold-main-color;
      text-decoration-thickness: 0.5px;
      text-underline-offset: 3px;
    }
  }

  


}

.title{
    margin-top: 50px;
    font-size: 2.5rem;
    color:$text-color;
  }

  .below-title{
    color: $bold-main-color;
    margin-top: 10px;
    font-size: 1rem;
  }
  
   .tabs{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.2rem;
  
    a{
    color:$bold-main-color ;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;

    &.active{
      border-bottom: 2px solid $bold-main-color;
    }

  }}